alembic==1.7.7
attrs==21.4.0
autopage==0.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
cliff==3.10.1
cmaes==0.8.2
cmd2==2.4.0
collection==0.1.6
colorlog==6.6.0
contextlib2==21.6.0
cycler==0.11.0
docopt==0.6.2
execnet==1.9.0
fancycompleter==0.9.1
fonttools==4.31.2
functional==0.4
greenlet==1.1.2
h5py==3.6.0
helpers==0.2.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
iniconfig==1.1.1
joblib==1.1.0
kiwisolver==1.4.2
logging==0.4.9.6
Mako==1.2.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mock==4.0.3
natsort==8.1.0
nibabel==3.2.2
numpy==1.22.3
opencv-python==4.5.5.64
optuna==2.10.0
packaging==21.3
pandas==1.4.1
path==16.4.0
path.py==12.5.0
pathlib==1.0.1
pbr==5.8.1
pdbpp==0.10.3
Pillow==9.0.1
pipreqs==0.4.11
pluggy==1.0.0
prettytable==3.2.0
py==1.11.0
pydensecrf==1.0rc2
Pygments==2.11.2
pyparsing==3.0.7
pyperclip==1.8.2
pyrepl==0.9.0
pytest==7.1.1
pytest-shutil==1.7.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
SQLAlchemy==1.4.33
stevedore==3.5.0
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.63.1
typing-extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
wmctrl==0.4
yarg==0.1.9
zipp==3.7.0
